/* 改变element-ui主题色变量 */
$--color-primary: #F88311;
$--color-success: #4F7D21;
$--color-warning: #E99F42;
$--color-danger: #C20000;
$--color-info: #276896;
$--color-text-primary: #333333;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-scrollbar{
  height: 100%;
  .el-scrollbar__wrap{
    //overflow-x: hidden;
    .el-scrollbar__view{
      white-space: nowrap;
    }
  }
  .is-vertical{
    right: 1px;
  }
  .el-scrollbar__bar{
    .el-scrollbar__thumb{
      // background-color: rgba(144, 147, 153, 0.9);
    }
  }
}
