/*
最小屏幕适配：1024*657
*/
@import "reset";
@import "common";
.el-form .el-form-item .el-select .el-tag__close.el-icon-close {
  right: -5px;
  top: -2px;
}
.ff-dialog{
  >.el-dialog__header{
    height: 56px;
    line-height: 56px;
    margin-bottom: 0;
    padding: 0;
    .el-dialog__title{
      font-size: 16px;
      color: black;
    }
    .el-dialog__headerbtn{
      top: 16px;
      .el-dialog__close{
        color: #333;
        font-size: 16px;
      }
    }
  }
}
.el-dialog__wrapper{
  overflow-x: hidden;
}
.ff-drawer{
  .el-drawer__header{
    height: 56px;
    line-height: 56px;
    margin-bottom: 0;
    padding: 0 20px;
    span{
      font-size: 16px;
      text-align: left;
    }
    .el-drawer__close-btn{
      .el-dialog__close{
        font-size: 16px;
        color: #333;
      }
    }
  }
}
